{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock cssfile %}

{% block content %}

<header id="header">
    <div class="header-container">
        <div class="header-heading">
            <h1>Look Your Best</h1>
        </div>
        <div class="header-content">
            <p>We are compassionate dental professionals commited to providing people with their dream smile.</p>
            <a href="#" class="appointment-link">Make An Appointment</a>
        </div>
    </div>
</header>

{% endblock content %}