{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock cssfile %}

{% block content %}
<!-- Start of  header -->
<header id="header">
    <div class="header-container">
        <div class="header-heading">
            <h1>Look Your Best</h1>
        </div>
        <div class="header-content">
            <p>We are compassionate dental professionals commited to providing people with their dream smile.</p>
            <a href="{% url 'create-booking' %}" class="appointment-link">Make An Appointment</a>
        </div>
    </div>
</header>
<!-- End of header -->

<!-- Start of main home content -->
<main class="home-content">
    <h2 class="home-heading">Why Life Dentals?</h2>
    <!-- About section -->
    <div class="cards">
        <div class="card about">
            <h3 class="card-heading">About Us</h3>
            <p class="card-text">At Life Dentals we ensure that our patients have the most pleasent experience when visiting. Life Dentals uses the most advanced dental technology in order to give patients the most accurate information about their oral health.</p>
        </div>
        <div class="card">
            <h3 class="card-heading">Our Vision</h3>
            <p class="card-text">At Life Dentals we always strive for greatness and perfection! Our aim is to remove some of the worries and concerns that some clients have about dental precedures. Our clients leave their appointments feeling happy and confident that the team at Life Dentals will do their best to help! </p>
        </div>
        <div class="card services">
            <h3 class="card-heading">Services</h3>
            <p class="card-text">We provide a long list of treatments. The Life Dentals receptionists are always available to answer any questions about treatments and prices. If you want to schedule a consultation with us, the receptionists can book you in!   </p>
        </div>
    </div>
    <!-- End about section -->

    <!-- Dental team section-->
    <section class="dental-team">
            <div class="employees">
                <div class="employee">
                    <div class="employee-content">
                        <h3 class="employee-name"><i class="fas fa-tooth tooth"></i> Dr. Ryan Pepper</h3>
                        <span class="employee-title">-Lead Surgeon</span>
                        <p class="employee-description">I love getting to meet all of our clients that come to us when they want their dream smile.</p>
                    </div>
                </div>

                <div class="employee">
                    <div class="employee-content">
                        <h3 class="employee-name"><i class="fas fa-tooth tooth"></i> Dr. Patrick Mulligan</h3>
                        <span class="employee-title">-Cosmetic Dentist</span>
                        <p class="employee-description">Everybody that works at Life Dentals does so with a great passion! Everyday I look forward going to work since I get to work with such an incredible team.</p>
                    </div>
                </div>

                <div class="employee">
                    <div class="employee-content">
                        <h3 class="employee-name"><i class="fas fa-tooth tooth"></i> Dr. Rajesh Madani</h3>
                        <span class="employee-title">-General Medical Practitioner</span>
                        <p class="employee-description">I love seeing peoples reaction when they see their new smile after a procedure, it makes doing the job more rewarding.</p>
                    </div>
                </div>
            </div>
    </section>
    <!-- end dental team section -->

</main>
<!-- End of main home content -->

{% endblock content %}