{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock cssfile %}

{% block content %}

<header id="header">
    <div class="header-container">
        <div class="header-heading">
            <h1>Look Your Best</h1>
        </div>
        <div class="header-content">
            <p>We are compassionate dental professionals commited to providing people with their dream smile.</p>
            <a href="#" class="appointment-link">Make An Appointment</a>
        </div>
    </div>
</header>

<main class="home-content">
    <h2 class="home-heading">Why Life Dentals?</h2>

    <div class="cards">
        <div class="card about">
            <h3 class="card-heading">About Us</h3>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda illo voluptatibus dolores quod qui iste pariatur ea officiis consequatur asperiores.</p>
        </div>
        <div class="card">
            <h3 class="card-heading">Our Vision</h3>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda illo voluptatibus dolores quod qui iste pariatur ea officiis consequatur asperiores.</p>
        </div>
        <div class="card services">
            <h3 class="card-heading">Services</h3>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda illo voluptatibus dolores quod qui iste pariatur ea officiis consequatur asperiores.</p>
        </div>
    </div>
</main>

{% endblock content %}