{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/treatments.css' %}">
{% endblock cssfile %}

{% block content %}

<main>
    <section class="treatments">

        <header class="treatments-header">
            <h1 id="treatments-heading">Treatments</h1>
        </header>

        {% for treatment in treatments %}
        <div class="treatment">

            {% if  forloop.counter0|divisibleby:2   %}

            <div class="treatment-text">
                <h2>{{ treatment.treatment }}</h2>
                <p>{{ treatment.description }}</p>
                <div class="treatment-info"> 
                    <span class="treatment-price">€{{ treatment.price }}</span>
                    <span class="treatment-duration">{{ treatment.duration }}</span>
                </div>
            </div>
            <div class="treatment-hero">
                <img class="treatment-image" src="{{ treatment.treatment_image.url }}" alt="" />
            </div>
            
            {% else %}

            <div class="treatment-hero">
                <img class="treatment-image" src="{{ treatment.treatment_image.url }}" alt="" />
            </div>
            <div class="treatment-text">
                <h2>{{ treatment.treatment }}</h2>
                <p>{{ treatment.description }}</p>
                <div class="treatment-info"> 
                    <span class="treatment-price">€{{ treatment.price }}</span>
                    <span class="treatment-duration">{{ treatment.duration }}</span>
                </div>
            </div>
         
            {% endif %}
        </div>
        {% endfor %}
    </section>
    <section class="testimonials">
        <h3 id="testimonials-heading">Testimonials</h3>
        <div class="testimonial">

            <div class="testimonial-content show-testimonial">
                <p class="testimonial-text">Everybody was extremely kind and made me feel comfortable throughout my entire treatment process.</p>
                <span class="testimonial-person">-(Caitlin)</span>
            </div>

            <div class="testimonial-content">
                <p class="testimonial-text">The professionals at Life Dentals explained my treatment process very clearly to me. This gave me the confidence to go ahead with my treatment.</p>
                <span class="testimonial-person">-(John)</span>
            </div>

            <div class="testimonial-content">
                <p class="testimonial-text">Great customer experience! The team did a great job at giving me my dream smile with no pain involved!</p>
                <span class="testimonial-person">-(Barry)</span>
            </div>

            <i id="prev" class="fas fa-arrow-left left-arrow"></i>
            <i id="next" class="fas fa-arrow-right right-arrow"></i>
        </div>
    </section>
</main>
<script src="{% static 'js/treatments.js' %}"></script>
{% endblock content %}