{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/treatments.css' %}">
{% endblock cssfile %}

{% block content %}

<main>
    <section class="treatments">

        <header class="treatments-header">
            <h1 id="treatments-heading">Treatments</h1>
        </header>

        {% for treatment in treatments %}
        <div class="treatment">

            {% if  forloop.counter0|divisibleby:2   %}

            <div class="treatment-text">
                <h2>{{ treatment.treatment }}</h2>
                <p>{{ treatment.description }}</p>
                <div class="treatment-info"> 
                    <span class="treatment-price">€{{ treatment.price }}</span>
                    <span class="treatment-duration">{{ treatment.duration }}</span>
                </div>
            </div>
            <div class="treatment-hero">
                <img class="treatment-image" src="{{ treatment.treatment_image.url }}" alt="" />
            </div>
            
            {% else %}

            <div class="treatment-hero">
                <img class="treatment-image" src="{{ treatment.treatment_image.url }}" alt="" />
            </div>
            <div class="treatment-text">
                <h2>{{ treatment.treatment }}</h2>
                <p>{{ treatment.description }}</p>
                <div class="treatment-info"> 
                    <span class="treatment-price">€{{ treatment.price }}</span>
                    <span class="treatment-duration">{{ treatment.duration }}</span>
                </div>
            </div>
         
            {% endif %}
        </div>
        {% endfor %}
    </section>
</main>

{% endblock content %}