:root {
    --ui-blue: #30C9E8;
    --ui-grey: #3B4A4D;
    --ui-light-grey: #F7F8FA;
    --ui-white: #FFFFFF;
    --ui-red: #FF4431;
    --ui-green: #50CB9D;
    --ui-orange: #F6B002;
}


.login-form, .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 8rem;
    text-align: center;
}

.sign-up-form label {
    display: block;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=email] {
    display: block;
    margin: 2rem 0;
    padding: 1rem;
    width: 100%;
}

.login-header h1, .sign-up-header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.form-button {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    border: 0.2rem solid var(--ui-blue);
    background-color: var(--ui-grey);
    color: var(--ui-white);
    font-size: 1.5rem;
    cursor: pointer;
}

.login-form p, .sign-up-form p {
    font-size: 1.5rem;
}

.sign-up-form p {
    padding-bottom: 4rem;
}

.sign-up-link, .sign-in-link {
    color: var(--ui-blue);
    font-weight: bold;
    text-decoration: none;
}

.sign-up-link:hover, .sign-in-link:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .login-header, .sign-up-header {
        font-size: 3rem;
    }

    .login-form p, .sign-up-form p {
        font-size: 2rem;
    }
}