:root {
    --ui-blue: #30C9E8;
    --ui-grey: #3B4A4D;
    --ui-light-grey: #F7F8FA;
    --ui-white: #FFFFFF;
    --ui-red: #FF4431;
    --ui-green: #50CB9D;
    --ui-orange: #F6B002;
}

main {
    text-align: center;
    margin-top: 8rem;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    font-size: 2rem;
}

#form-container form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.contact-label {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    text-align: left;
    font-weight: bold;
}

.contact-input {
    margin-bottom: 2rem;
    padding: 1rem;
}

.contact-msg {
    padding: 1rem;
}

#contact-submit {
    margin: 0 auto;
    width: 200px;
    margin-top: 2rem;
    padding: 1rem 0;
    border: 0.2rem solid var(--ui-blue);
    background-color: var(--ui-grey);
    color: var(--ui-white);
    font-size: 1.5rem;
    cursor: pointer;
}


#form-modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    color: var(--ui-white);
}

.modal-content {
    position: relative;
    background-color: var(--ui-grey);
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid var(--ui-blue);
    width: 80%; 
    font-size: 2rem;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    color: var(--ui-white);
}

.close:hover {
    color: var(--ui-red);
}