{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock cssfile %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.message == 'Booking Successful!' %}
            <li class="booking-message">{{ message }}</li>
        {% else %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

<section class="appointments">
    <div class="appointment-header">
        <h1>Your Appointment</h1>
        {% if bookings == '' %}
        <a href="{% url 'create-booking' %}" class="appointment-btn">New Appointment</a>
        {% endif %}
    </div>

    <!-- Shows user booking -->
    {% if bookings != '' %}
    <div class="appointment-card">
        <div class="appointment-treatment">
            <span class="booking-treatment">Treatment- </span>
            <p>{{bookings.treatments}}</p>
        </div>
        <div class="appointment-date">
            <span class="booking-date">Date- </span>
            <p>{{bookings.booking_date}}</p>
        </div>
        <div class="appointment-time">
            <span class="booking-time">Time- </span>
            <p>{{bookings.booking_time}}</p>
        </div>
        <div class="card-buttons">
            <a href="{% url 'edit-booking' %}" class="edit-btn">Edit</a>
            <a href="{% url 'delete-booking' %}" class="delete-btn">Delete</a>
        </div>
    </div>
    {% endif %}
    <!-- End of user booking -->
</section>
<script src="{% static 'js/messages.js' %}"></script>

{% endblock content %}