{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock cssfile %}

{% block content %}

<h1 id="create-booking-header">Make An Appointment</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <div id="times">
        <form class="booking-form" action="{% url 'create-booking' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'booking_date' %}
                    <input type="date" name="booking_date" id="id_booking_date" hx-target="#times" value="{{ today_date|date:'Y-m-d' }}"  hx-swap="outerHTML" hx-post="{% url 'create-booking-htmx' %}">
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
 
<script src="{% static 'js/booking.js' %}"></script>
<script src="{% static 'js/htmx.js' %}"></script>

{% endblock content %}