{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock cssfile %}

{% block content %}

<h1>Edit your booking</h1>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="{% url 'edit-booking' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Make appointment">
</form>

<script src="{% static 'js/booking.js' %}"></script>

{% endblock content %}