{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
{% endblock cssfile %}

{% block content %}

<h1 id="edit-booking-header">Edit your booking</h1>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div id="times">
    <form class="booking-form" action="{% url 'edit-booking' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'booking_date' %}
                <input type="date" value="{{ today_date|date:'Y-m-d' }}" name="booking_date" id="id_booking_date" hx-post="{% url 'edit-booking-htmx' %}" hx-target="#times"  min="{{ today_date|date:'Y-m-d' }}" hx-swap="outerHTML">
            {% elif field.name == 'booking_time' %}
                <select name="booking_time" id="id_booking_time">
                    {% for id, slot in form.booking_time.field.choices %}
                        {% if slot not in booked_times %}
                            <option value="{{ slot }}">{{ slot }}</option>
                        {% endif %}
                    {% endfor %}   
                </select>
            {% else %}
            {{ field }}
            {% endif %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>

<script src="{% static 'js/booking.js' %}"></script>
<script src="{% static 'js/htmx.js' %}"></script>

{% endblock content %}