* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-size: 10px;
}

.container {
    padding: 20px 40px;
    width: 100%;
}

.flex-nav {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: black;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    border: transparent;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-link a {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: none;
}

.nav-open {
    display: block;
}

.nav-link {
    list-style: none;
    margin: 20px 0;
    text-align: center;
}

.nav-link a,
.nav-link a:after {
  transition: all .5s;
}

nav ul li a:hover {
  color: rgb(62, 140, 143);
}

.nav-link a {
    position: relative;
    transition: all .5s;
}

/* Nav link hover effect from Code Pen */
.nav-link a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #aaa;
  height: 1px;
}
/* Ends */

.nav-link a:hover:after {
  width: 100%;
}

@media only screen and (min-width: 750px) {
    .nav-toggle {
        display: none;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        display: block;
    }

    .nav-links ul {
        display: flex;
    }

    .nav-link {
        margin: 0.5rem;
    }
}