@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;700&family=Oswald:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ui-blue: #30C9E8;
    --ui-grey: #3B4A4D;
    --ui-light-grey: #F7F8FA;
    --ui-white: #FFFFFF;
    --ui-red: #FF4431;
    --ui-green: #50CB9D;
    --ui-orange: #F6B002;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Assistant', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding: 2rem;
    width: 100%;
    background-color: var(--ui-blue);
    color: var(--ui-grey);
}

.flex-nav {
    display: flex;
    flex-direction: column;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    border: transparent;
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-link a {
    text-decoration: none;
    position: relative;
    transition: all .5s;
    color: var(--ui-grey);
    font-size: 1.8rem;
}

.nav-links {
    display: none;
}

.nav-open {
    display: block;
}

.nav-link {
    list-style: none;
    margin: 1.5rem;
    text-align: center;
}

.nav-link a,
.nav-link a:after {
  transition: all .5s;
}

nav ul li a:hover {
  color: var(--ui-light-grey);
}

/* Nav link hover effect from Code Pen */
.nav-link a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: var(--ui-orange);
  height: 1px;
}
/* Ends */

.nav-link a:hover:after {
  width: 100%;
}

#navbar-brand {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.footer {
    width: 100%;
    padding: 2rem;
    background-color: var(--ui-blue);
    color: var(--ui-grey);
    text-align: center;
    margin-top: auto;
}

.phone-info {
    margin-bottom: 1rem;
}

#contact-heading, #opening-header, #phone-header  {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-family: 'Oswald', sans-serif;
}

.contact-number, .phone-icon {
    font-size: 1.5rem;
}

.phone-icon {
    padding: 0 1rem;
}

.times {
    font-size: 1.5rem;
    display: block;
}


/* Tablet styles */
@media only screen and (min-width: 768px) {
    .nav-toggle {
        display: none;
    }

    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        display: block;
    }

    .nav-links ul {
        display: flex;
    }

    .nav-link {
        margin: 0.5rem;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
    .footer {
        padding: 1rem;
    }

    #contact-heading {
        margin-bottom: 1rem;
    }

    .contact-info {
        display: flex;
        justify-content: center;
    }

    .phone-info {
        margin: 0
    }

    .phone-info, .opening-hours {
        margin: 0 1rem;
    }

}