:root {
    --ui-blue: #30C9E8;
    --ui-grey: #3B4A4D;
    --ui-light-grey: #F7F8FA;
    --ui-white: #FFFFFF;
    --ui-red: #FF4431;
    --ui-green: #50CB9D;
    --ui-orange: #F6B002;
}

#header {
    background-image: url('../images/tools.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.header-container {
    position: relative;
    display: inline-block;
    color: var(--ui-grey);
}

.header-container::before {
    background: white;
    width: .3rem;
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
}

.header-heading {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.header-content {
    padding: 1rem;
}

.header-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.appointment-link {
    font-size: 1.3rem;
    text-decoration: none;
    background-color: var(--ui-grey);  
    border-radius: 5px;
    color: var(--ui-white);
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
}

.appointment-link:hover {
    color: var(--ui-orange);
}

.home-content {
    width: 100%;
    padding: 2rem;
    text-align: center;
    color: var(--ui-grey);
}

.home-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.card {
    border: .3rem solid var(--ui-grey);
    width: 200px;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 1rem;
}

.card-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1.2rem;
}


.dental-team {
    padding: 1rem 2rem;
}

.tooth {
   visibility: hidden;
}


.employee-name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
}

.employee-title {
    font-size: 1.5rem;
}

.employee-description {
    margin-top: 1rem;
    font-size: 1.2rem;
}


/* Tablet styles */
@media only screen and (min-width: 768px) {

    .home-content {
        margin-bottom: 3rem;
    }

    .home-heading {
        margin-bottom: 3rem;
    }

    .cards {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 350px;
        margin: 0 2rem;
    }

    .about, .services {
        position: relative;
        top: 30px;
    }

    .dental-team {
        margin-top: 7rem;
        padding: 3rem 0;
    }

    .employees {
        display: flex;
        justify-content: space-evenly;
    }

    .tooth {
        visibility: visible;
        font-size: 1.3rem;
    }

    .employee {
        padding: 0 1rem;
        max-width: 300px;
    }

}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
    #header {
        text-align: left;
        padding: 3rem;
    }

    .header-container {
        padding-left: 2rem;
    }

    .header-content {
        padding: 1rem 0;
    }

    .header-content p {
        font-size: 2rem;
        width: 250px;
        text-align: justify;
    }

    .appointment-link {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .card-heading {
        font-size: 2rem;
    }

    .card-text {
        font-size: 1.5rem;
    }

    .home-heading {
        font-size: 3rem;
    }

    .dental-team {
        padding: 8rem 0;
    }

    .employee-name {
        font-size: 2rem;
    }

    .employee-title {
        font-size: 1.8rem;
    }

    .employee-description {
        font-size: 1.5rem;
    }

    .tooth {
        font-size: 1.5rem;
    }
}


/* Large Desktop */
@media only screen and (min-width: 1440px) {

    .card {
        margin: 0 5rem;
    }

    .card-heading {
        font-size: 2.5rem;
    }

    .card-text {
        font-size: 1.8rem;
    }

    .home-heading {
        font-size: 3.5rem;
    }

    .employee-name {
        font-size: 2.5rem;
    }

    .employee-title {
        font-size: 2rem;
    }

    .employee-description {
        font-size: 1.7rem;
    }

}