{% extends 'base.html' %}

{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock cssfile %}

{% block content %}

{% if page == 'login' %}

<div class="login-form">
    
    <section class="form">
        <div class="login-header">
            <i class="fas fa-user user-icon"></i>
            <h1>Sign into your account</h1>
        </div>  
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" class="form-input" name="username" placeholder="Username">
            <input type="password" class="form-input" name="password" placeholder="Enter password">
            <input type="submit" class="form-button" value="Login">

            <p>Don't have an account? <a class="sign-up-link" href="{% url 'register' %}">Sign Up</a></p>
    </form>
    </section>
</div>
{% else %}

<div class="sign-up-form">
    
    <section class="form">
        <div class="sign-up-header">
            <i class="fas fa-user user-icon"></i>
            <h1 >Create an account</h1>
        </div>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input class="form-button" type="submit" value="Register">
            <p>Already have an account? <a class="sign-in-link" href="{% url 'login' %}">Sign In</a></p>
        </form>
    </section>
</div>
{% endif %}

{% endblock content %}