:root {
    --ui-blue: #30C9E8;
    --ui-grey: #3B4A4D;
    --ui-light-grey: #F7F8FA;
    --ui-white: #FFFFFF;
    --ui-red: #FF4431;
    --ui-green: #50CB9D;
    --ui-orange: #F6B002;
}

.delete-booking {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem;
    margin-top: 5rem;
    border: 1px solid var(--ui-blue);
}

.delete-booking h1 {
    margin-bottom: 1rem;
}

.delete-booking .delete-btns {
    display: flex;
    justify-content: start;
}

.delete-booking #cancel-btn {
    padding: 1.1rem 2rem;
    background-color: var(--ui-light-grey);
    color: var(--ui-blue);
    border: 1px solid var(--ui-blue);
    text-decoration: none;
    margin-bottom: 1rem;
    margin-left: 10px;
}

.delete-booking #cancel-btn:hover {
    background-color: var(--ui-blue);
    color: var(--ui-white);
    border-color: var(--ui-grey);
}

#create-booking-header, #edit-booking-header {
    text-align: center;
    margin: 5rem 0rem;
}

.booking-form {
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--ui-blue);
}

.booking-form label {
    margin-bottom: 1rem;
}

.booking-form select, input[type="date"], input[type="submit"] {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border: 1px solid var(--ui-blue);
}

.booking-form input[type="submit"] {
    background-color: var(--ui-grey);
    color: var(--ui-blue);
    cursor: pointer;
    min-width: 150px;
    max-width: 150px;
}

.booking-form input[type="submit"]:hover {
    background-color: var(--ui-blue);
    color: var(--ui-white);
}

.booking-message {
    padding: 1rem;
    background-color: var(--ui-blue);
    font-size: 2rem;
    list-style: none;
    text-align: center;
}

.appointment-header {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.appointment-btn {
    color: var(--ui-light-grey);
    text-decoration: none;
    padding: 1rem 2rem;
    border: 0.1rem solid var(--ui-blue);
    background-color: var(--ui-grey);
    margin-left: 0.5rem;
}

.appointment-header h1 {
    font-family: 'Oswald', sans-serif;
    margin-right: 0.5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.appointments {
   width: 80%;
   max-width: 400px;
   margin: 0 auto;
}

.appointment-card {
    border: 0.2rem solid var(--ui-blue);
    padding: 2rem;
    text-align: left;
}

.appointment-treatment, .appointment-date, .appointment-time {
    display: flex;
    align-items: center;
}

.booking-time, .booking-date, .booking-treatment {
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
}

.appointment-treatment p, .appointment-date p, .appointment-time p {
    font-size: 1.2rem;
    width: 50%;
    text-align: center;
}

.card-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.edit-btn, .delete-btn {
    color: var(--ui-light-grey);
    text-decoration: none;
    padding: 1rem 2rem;
    border: 0.1rem solid var(--ui-blue);
    background-color: var(--ui-grey);
}

@media only screen and (min-width: 768px) {
    .booking-time, .booking-date, .booking-treatment {
        font-size: 2rem;
    }

    .appointment-treatment p, .appointment-date p, .appointment-time p {
        font-size: 1.5rem;
    }

    .appointment-header {
        flex-direction: row;
    }

    .appointment-header h1 {
        font-size: 2.5rem;
    }
}